/*Color Codes
Dark: #0E273C -- rgb(14, 39, 60)
Lighter: #4A306D -- rgb(74, 48, 109)
Even lighter: #A167A5 -- rgb(161, 103, 165)
Pale: #D3BCCC -- rgb(211, 188, 204)
Whitish: #E8D7F1 -- rgb(232, 215, 241) */

body {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: #fffff4;
}

.container {
  display: grid;
  grid-template-rows: 1fr 10fr 5fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "hd"
    "mn"
    "sd"
    "ft";
}

.header {
  height: fit-content;
  width: 100%;
  background-color: #0e273c;
  grid-area: hd;
}

.navbar {
  display: flex;
  text-decoration: none;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  padding: 15px 10px;
}
.navbar a {
  font-size: 20px;
  padding: 0px 15px;
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: #e8d7f1;
}

.blog-post-card {
  margin: 2vh 5vw 2vh 5vw;
  height: auto;
  width: auto;
  background-color: #fffff4;
  grid-area: mn;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2vh;
  justify-content: flex-start;
  align-items: center;
}

.blog-post-card h1 {
  font-size: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 20vh;
  opacity: 0.8;
  border-radius: 4px;
  transition: all 0.3s;
}

.card-text {
  color: #fff;
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
}

.card-content a {
  width: 80px;
  height: 100%;
}

.card-content button {
  height: 100%;
  width: 100%;
  background-color: #4a306d;
  color: #fff;
  border: none;
  border-radius: 12px;
}

.card-content button:hover {
  background-color: #a167a5;
}

.card-text h3,
p {
  margin: 0;
  font-size: 1.3em;
}

.card:hover {
  transform: scale(1.02);
}

#card-1 {
  background: linear-gradient(45deg, rgba(0, 0, 102, 0.5), rgba(0, 0, 102, 0.5)),
    url("static/blueprint.avif");
  background-size: cover;
}

#card-2,
#card-5 {
  background: linear-gradient(
      45deg,
      rgba(75, 0, 130, 0.5),
      rgba(75, 0, 130, 0.5)
    ),
    url("static/ic.avif");
  background-size: cover;
}

#card-3,
#card-4 {
  background: linear-gradient(
      45deg,
      rgba(153, 0, 153, 0.5),
      rgba(153, 0, 153, 0.5)
    ),
    url("static/gaming.avif");
  background-size: cover;
}

.side-bar {
  grid-area: sd;
  margin: 2vh 10vw 2vh 10vw;
}

.side-bar h1 {
  margin-right: 10%;
  border-bottom: solid #d3bccc 3px;
}

.side-bar h2 {
  width: fit-content;
  border-bottom: solid #d3bccc 2px;
}

.side-bar ul {
  list-style-type: circle;
}

.side-bar a {
  text-decoration: none;
  font-size: 1.2em;
  color: #0e273c;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #0e273c;
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}
